@model emarket.Models.Cart

<!DOCTYPE html>
<html>
<head>
    <style>

        * {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;
        }

        .mainbody {
            text-align: center;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        td.button:active {
            background-color: #3387A0;
            cursor: pointer;
        }

        td.button:hover {
            cursor: pointer;
        }

        table, body {
            font-family: 'Monaco', monospace;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }

            table.ShopTable {
                background-color: #74D3EC;
                border: 1px solid white;
            }

        tr.ShopTable {
            height: 200px;
        }

        td.buttonCart:hover {
            background-color: #F8C579;
            cursor: pointer;
        }

        td.buttonCart:active {
            background-color: red;
            cursor: pointer;
        }

        .minimalButton {
            background-color: white;
            border: none;
            color: black;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body style="background-image: url('/Content/source/cart.jpg')">
    <div class="mainbody" style="margin: 0;">

        <h2><span style="color:white;">Το προσωπικό σας Καλάθι Αγορών</span></h2>

        <table class="ShopTable" style="border-collapse: collapse; width: 75%; height: 90px; margin-left: auto; margin-right: auto;">
            @foreach(var prod in Model.products) {
            <tr class="ShopTable">
                <td style="width: 100%; height: 18px;">
                    <table style="margin-left: 10px;">
                        <tr>
                            <td>
                                <img src=@prod.sourceOfImage alt="Supermarket" width="300" height="175">
                            </td>
                            <td style="width:850px; color: black;">
                                @prod.Info
                            </td>
                            <td style="width:850px; color: black;">
                                @prod.Quantity
                            </td>
                            <td>
                                @Html.ActionLink("Αφαίρεση","RemoveCart","Store", prod, new {@class = "minimalButton" })
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            }
        </table>

        @Html.ActionLink("Συνέχεια", "Payment", "Store", null, new {@class = "minimalButton"})
        <br><br><br><br><br>
    </div>
</body>
</html>