@{
    ViewBag.Title = "E-Market";
}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="        background-image: url(https://archello.s3.eu-central-1.amazonaws.com/images/2016/05/31/DSC2306.1506081021.2082.jpg);
        filter: contrast(100%) hue-rotate(0deg);
        color: rgba(203,170,56,0.09);
        height: 745px;">
        <div class="text">
            <h2>E-Market πάντα δίπλα σας</h2>
            <p><br>Παραγγέλνουμε&nbsp;online. Αποφεύγουμε&nbsp;τους&nbsp;συνωστισμούς&nbsp;σε&nbsp;κλειστούς&nbsp;χώρους.&nbsp; &nbsp; &nbsp;Προσέχουμε&nbsp;εμάς&nbsp;και τις&nbsp;οικογένειές&nbsp;μας.<br><br></p>
        </div>
    </section>
</main>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/smoothproducts.min.js"></script>
<script src="assets/js/theme.js"></script>